<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="icon">
                <img src="/img/hamburger.png" alt="logo" srcset="">
                <h1>StudentSync</h1>
            </div>
            <ul>
                <li id="home"><a href="/home">Home</a></li>
                <li id="signup"><a href="/add">Add Students</a></li>
                <li id="search"><a href="/search">Search</a></li>
                <li id="login"><a href="/">Login</a></li>
                <li id="signup"><a href="/signup">Signup</a></li>
            </ul>
        </nav>
    </header>
    <!-- <div class="searchbar">
        <input type="text" name="username" id="username" placeholder="student's name">
        <div class="btn-search">search</div>
    </div> -->
    <main class="table">
        <h1 class="mt-5">Students</h1>
        <table class="table table-striped mt-3" border="1">
            <thead>
                <tr>
                    <td>name</td>
                    <td>id</td>
                    <td>department</td>
                    <td>phone</td>
                    <td>email</td>
                </tr>
            </thead>
            <tbody>
                <% Collections.forEach((collection) => { %>
                  <tr>
                    <td><%= collection.name %></td>
                    <td><%= collection.id %></td>
                    <td><%= collection.Department %></td>
  	    		    <td><%= collection.phone %></td>
  	    		    <td><%= collection.email %></td>
                  </tr>
                <% }) %>
              </tbody>
        </table>
    </main>
</body>
</html>